@font-face {
	font-family: 'IMFell';
	src: url('../assets/fonts/imfell.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Trade Gothic';
	src: url('../assets/fonts/trade_gothic.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    overflow: hidden;
    font-family: 'Trade Gothic', Helvetica, sans-serif;
}

button {
    cursor: pointer;
    padding: 1em 2em;
    font-size: 24px;
    margin: 0.2em;
    flex: auto;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #2a3279;
    background-image: url('../assets/stripes.png');
}

#board {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    transform-origin: 0 0;
    will-change: transform;
}