.token {
    position: absolute;
    z-index: 1;
    user-select: none;
    transform-origin: center;
    transition: transform 0.1s ease-out;

    &.dragging {
        filter: drop-shadow(0px 25px 10px rgba(0, 0, 0, 0.25));
        transform: translateY(-25px) rotate(-2deg);
    }

    .container {
        width: 256px;
        height: 256px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
    }

    img {
        position: absolute;
        z-index: 2;  

        &.reminder {
            transform: scale(0.515);
        }
    }

    svg {
        z-index: 3;
        position: absolute;

        text {
            fill: black;
            font-size: 26px;
            font-family: 'IMFell';
            letter-spacing: 4px;
        }
    }

    .hit-area {
        position: absolute;
        display: inline-block;
        clip-path: circle(50%);
        z-index: 4;
        cursor: pointer;
        pointer-events: all;
        width: 256px;
        height: 256px;
    }

    &.display {
        position: relative;
        display: block;        
        transition: opacity 0.2s ease-out;

        .container {
            transform: none;
            position: relative;
            width: 256px;
            height: 256px;
        }

        &.unselected {
            opacity: 0.3;
        }

        &.selected {
            opacity: 1;
        }
    }

    &.immovable .hit-area {
        cursor: default;
        pointer-events: visible;
    }

    &.hidden {
        svg, img.icon, img.reminder {
            visibility: hidden !important;
        }
    }
}

player-token {
    .shroud {
        transform: scale(40%) translateY(-150px);
        opacity: 0;
        transition: all 0.2s ease-out;
    }

    &.dead {
        filter: grayscale(1);

        .shroud {
            transform: scale(40%) translateY(-120px);
            opacity: 1;
        }
    }

    span.player-name {
        color: white;
        transform: translateY(170px);
        text-align: center;
        font-size: 30px;
        font-weight: initial;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 10px 20px;
        border-radius: 10px;
        transition: opacity 0.3s ease-out;
    }

    &.dragging {
        span.player-name {
            opacity: 0;
        }
    }
}

reminder-token {
    transform: scale(50%);

    img.background {
        filter: brightness(13%) sepia(1) hue-rotate(200deg) saturate(400%);
    }

    &.dragging {
        transform: scale(50%) translateY(-25px) rotate(-2deg) !important;
    }

    svg text {
        fill: white !important;
        font-size: 32px !important;
        font-family: 'Trade Gothic' !important;
    }
}