.token {
    position: absolute;
    z-index: 1;
    touch-action: none;
    pointer-events: none;
    transition: transform 0.1s ease-out;

    &.dragging {
        filter: drop-shadow(0px 25px 5px rgba(0, 0, 0, 0.25));
        transform: translateY(-25px) rotate(-2deg);
    }

    .container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
    }

    img {
        position: absolute;
        z-index: 2;
    }

    svg {
        z-index: 3;
        position: absolute;

        text {
            fill: black;
            font-size: 26px;
            font-family: 'IMFell';
            letter-spacing: 4px;
        }
    }

    span {
        position: absolute;
        display: inline-block;
        width: 256px;
        height: 256px;
        clip-path: circle(50%);
        z-index: 4;
        cursor: pointer;
        pointer-events: all;
    }

    &.display {
        position: relative;
        transform: scale(75%);

        .container {
            transform: none;
            position: relative;
            width: 200px;
            height: 200px;
        }
    }
}

reminder-token {
    transform: scale(50%);

    img.background {
        filter: brightness(10%) sepia(1) hue-rotate(200deg) saturate(400%);
    }

    &.dragging {
        transform: scale(50%) translateY(-25px) rotate(-2deg) !important;
    }

    svg text {
        fill: white !important;
        font-size: 32px !important;
        font-family: 'Trade Gothic' !important;
    }
}