app-ui {
    .icons {
        position: fixed;
        z-index: 1;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        div:has(.iconify) {
            display: flex;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
          
    }

    #top-left-ui {
        top: 0;
        left: 0;
    }

    #top-right-ui {
        top: 0;
        right: 0;
    }

    #bottom-left-ui {
        bottom: 0;
        left: 0;
    }

    #bottom-right-ui {
        bottom: 0;
        right: 0;
    }

    #bottom-center-ui {
        bottom: 0;
        left: calc(50% - 50px);

        .delete-area {
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.2s ease-out;
            opacity: 0;
            pointer-events: none;

            &.visible {
                opacity: 1;
                pointer-events: all;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
                scale: 1.15;
            }

            div:hover {
                background-color: transparent;
            }
        }
    }
}