app-ui {
    .icons {
        position: fixed;
        z-index: 1;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        div:has(.iconify) {
            display: flex;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
          
    }

    #top-left-ui {
        top: 0;
        left: 0;
    }

    #top-right-ui {
        top: 0;
        right: 0;
    }

    #bottom-left-ui {
        bottom: 0;
        left: 0;
    }

    #bottom-right-ui {
        bottom: 0;
        right: 0;
    }

    #bottom-center-ui {
        bottom: 0;
        left: calc(50% - 50px);
        pointer-events: none;
        touch-action: none;

        .delete-area {
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.2s ease-out;
            opacity: 0;

            &.visible {
                opacity: 1;
            }

            &.hover {
                background-color: rgba(255, 255, 255, 0.3);
                scale: 1.15;
            }

            div:hover {
                background-color: transparent;
            }
        }
    }

    token-drawer {
        position: absolute;
        bottom: -500px;
        left: 0;
        margin: 0 80px;
        margin-bottom: 25px;
        width: calc(100vw - 160px);
        box-sizing: border-box;
        display: flex;
        gap: 10px;
        flex-direction: column;
        transition: bottom 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

        &.visible {
            bottom: 0;
        }

        .token-area {
            position: relative;
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            overflow: hidden;
        }

        .player-tokens {
            display: flex;
            gap: 10px;
            position: relative;
            padding: 15px;

            .token-wrapper {
                min-width: 128px;
                height: 128px;
                cursor: pointer;

                .token {
                    transform-origin: top left;
                }
            }
        }

        .reminder-tokens {
            display: flex;
            gap: 10px;
            position: relative;
            padding: 15px;

            .token-wrapper {
                min-width: 64px;
                min-height: 64px;
                cursor: pointer;

                .token {
                    transform-origin: top left;
                }
            }
        }
    }
}